*{
	margin: 0px;
	padding: 0px;
	font: 12px '宋体';
	color: #522a06;
}
li {
	list-style: none;
}
a:link {
	text-decoration: none;
	color: #522a06;
}
a:visted {
	text-decoration: none;
	color: #522a06;
}
a:hover {
	text-decoration: underline;
	color: #522a06;
}
#wrap{
	width: 100%;
	background-image: url(../images/bodybg.jpg);
	margin: 0 auto;
}
#header{
	width: 100%;
	height: 205px;
	background-image: url(../images/bg.jpg);
	background-position: top;
}
#banner{
	width: 1000px;
	height: 164px;
	margin: 0 auto;
}
#ba{
	padding-top: 38px;
	padding-left: 25px;
}
#nav {
	width: 100%;
	height: 40px;
	background-image: url(../images/nav.jpg);
	background-position: 
}
#nav_body {
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 12px;
}
#nav_content li {
	float: left;
	height: 14px;
	width: 80px;
	text-align: center;
	border-right: 2px solid #fff;
}
#nav_content .aa{
	width: 60px;
}
#nav_content .aa a:link{
	font-weight: bold;
	color: #f9f603;
}
#nav_content .aa a:visited{
	color: #f9f603;
}
#nav_content li a:link{
	font-weight: bold;
	color: #fff;
}
#nav_content li a:visited{
	color: #fff;
}
#nav_content li a:hover{
	text-decoration: none;
	color: #f9f603;
}
#sa {
	float: left;
	border: 1px solid #fff;
	width: 176px;
	margin-left: 480px;
	background-color: black;
}
#sa .sb{
	background-color: black;
	color: #fff;
	border: none;
	padding-left: 4px;
}
/*页面主体*/
#centent {
	width: 1000px;
	clear: both;
	margin: 0 auto;
}
#ct {
	margin-top: 20px;
	overflow: hidden;
}
#cbl {
	margin-top: 20px;
}
#cbr {

	float: right;
}
#centent #ct .np {
	width: 324px;
	height: 243px;
	float: left;
	background-image: url(../images/news_bg.png);
}
#centent #ct .np .npa {
	width: 300px;
	height: 200px;
	position: relative;
	left: 12px;
	top: 16px;
}
#centent #ct .np p {
	width: 300px;
	height: 22px;
	position: relative;
	top: 18px;
	text-align: center;
}
#centent #ct .nl {
	width: 330px;
	height: 243px;
	margin-left: 38px;
	background-image: url(../images/change.png);
	background-repeat: no-repeat; 
	float: left;
}
#ct .nl .nla,.nlb {
	float: right;
}
#ct .nl ul {
	padding-top: 40px;
}
#ct .nl li {
	list-style: inside;
	height: 30px;
	line-height: 30px;
}
#ct .na {
	width: 277px;
	float: right;
}
#ct .na .naa {
	height: 23px;
	background-image: url(../images/news.png);
	background-position: center;
	background-repeat: no-repeat;
}
#ct .na .nab {
	width: 277px;
	height: 210px;
	background-image: url(../images/board_bg.png);
}
#ct .na .nab ul {
	padding-left: 10px;
}
#ct .na .nab li{
	list-style: inside;
	height: 30px;
	line-height: 30px;
}
#cbl .acad {
	width: 340px;
	height: 203px;
	background-image: url(../images/academic.png);
	background-repeat: no-repeat;
	clear: both;
	float: left;
}
#cbl .acad .aca,.acb {
	float: right;
}
#cbl .acad ul {
	padding-top: 50px;
}
#cbl .acad li {
	list-style: inside;
	height: 30px;
	line-height: 30px;
}
#cbl .book {
	width: 340px;
	height: 203px;
	background-image: url(../images/book_news.png);
	background-repeat: no-repeat;
	margin-left: 30px;
	float: left;
}
#cbl .book .boa,.bob{
	float: right;
}
#cbl .book ul {
	padding-top: 50px;
}
#cbl .book li {
	list-style: inside;
	height: 30px;
	line-height: 30px;
}
#cbl .feng {
	width: 700px;
	height: 254px;
	background-image: url(../images/fengcai.png);
	background-repeat: no-repeat;
	clear: both;
}
#cbl .feng .fenga {
	float: right;
}
#cbl .feng ul {
	padding-top: 55px;
	padding-left: 37px;
}
#cbl .feng .fengb li {
	margin-left: 5px;
	float: left;
}
#cbr {
	width: 300px;
	float: right;
	margin-top: -460px;
	margin-right: -20px;
	
	
}
#cbr .cbra {
	width: 300px;
	height: 23px;
	background-image: url(../images/show.png);
	background-repeat: no-repeat;
	background-position: center;
}
#cbr .cbrb {
	width: 300px;
	height: 400px;
	background-image: url(../images/show_bg.png);
	background-repeat: no-repeat;
	background-position: center;
}
#cbr .cbrb .cbrc {
	padding-top: 39px;
	padding-left: 37px;
}
#cbr .cbrb .cbrd {
	width: 200px;
	margin-top: 20px;
	margin-left: 45px;
}
#cbr .cbrb h6 {
	font-weight: bold;
	color: #b70000;
}
#cbr .cbrb h6,p {
	display: inline;
}
#cbr .cbrb .cbre {
	padding-top: 10px;
	padding-left: 230px;
}
/*footer*/
#footer {
	width: 100%;
	height: 105px;
	background-image: url(../images/foot.gif);
	clear: both;
}
#footer .foota p {
	display: block;
	text-align: center;
}